.scard {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 325px;
    padding: 0 0 40px 0;
    transform: translate(-50%, -50%);
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    gap: 20px;
}

.scard-img {
    width: 325px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.scard_type {
    color: #2EA209;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 10px;
}

.scard_des {
    padding-left: 10px;
    font-size: 15px;
    text-align: justify;
}